<div class="mt-4 p-5">
<form method="POST" action="">
  <div class="mb-3">
    <label for="search-input" >Từ khóa</label>
    <input type="text" name="q" placeholder="Nhập từ khóa" id="search-input" class="form-control" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>