<div class="mt-4 p-4">
    <h3>Coures Detail</h3>
    <form method="post" action="/courses/store" >
        <div class="form-group">
            <label for="name" class="form-label">Name Coures</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoId" class="form-label">VideoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="form-group mb-2">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Add course</button>
    </form>
</div>